.card-header:first-child {
    background: #4f4f4f;
    color: #ffffff;
}

.card {
    border: 1px solid #4f4f4f;
    height: 78vh;
}

.cardBody {
    border-bottom: 2px solid #c2c2c2;
    background-color: #ffffff;
    height: 76%;
    color: #4f4f4f;
    max-height: 82%;
    overflow: auto;
    overflow-x: hidden;
    padding: 4%;
}

label {
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    color: #000000;
}

.forForm {
    padding-left: 2%;
}

input {
    border: 1px solid #ccc;
    height: 50% !important;
}

hr {
    border: 1px solid #c2c2c2;
    width: 63%;
}

.btns {
    text-align: end;
    margin: 7%;
}

.saveForm {
    width: 16%;
    height: 126%;
    padding: 0.3%;
    border-radius: 4px;
    border: solid 1px #c9c9c9;
    background-color: #f2f2f2;
    color: #c2c2c2;
    font-size: 92%;
}

.cancelForm {
    background-color: #ffffff;
    width: 17%;
    height: 133%;
    padding: 0.3%;
    border-radius: 4px;
    color: #007bff;
    font-family: Poppins;
    font-size: 92%;
    font-weight: bold;
    margin-right: 2%;
}

.blueColor {
    background-color: #007bff !important;
    width: 17%;
    height: 133%;
    padding: 0.3%;
    border-radius: 4px;
    color: #ffffff;
    font-family: Poppins;
    font-size: 92%;
}

.whiteColor {
    background-color: #f2f2f2 !important;
    width: 17%;
    height: 133%;
    padding: 0.3%;
    border-radius: 4px;
    color: #c9c9c9;
    font-family: Poppins;
    font-size: 92%;
}

.intro {
    width: 87%;
    margin: 0% 0% 3% 2.5%;
}

.pswTag {
    width: 87%;
    margin: 0% 0% 1% 2.5%;
}

.password {
    width: 117%;
}

ul {
    padding-left: 10%;
}

li {
    margin: 0% 0% 0.5% 0%;
}

.spacesBtnRow {
    margin: 0% 0% 3% 0.5%;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #4f4f4f;
}