<div class="card">
    <div class="card-header">
        {{uiConfigHtmlValue.changePswdLabel}}
    </div>
    <div class="cardBody">
        <div>
            <p class="intro">{{uiConfigHtmlValue.guideLine}}</p>
        </div>
        <div>
            <p class="pswTag">{{uiConfigHtmlValue.guideLinestart}}</p>
            <ul>
                <li>{{uiConfigHtmlValue.guideline1}}</li>
                <li>{{uiConfigHtmlValue.guideline2}}</li>
                <li>{{uiConfigHtmlValue.guideline3}}</li>
                <li>{{uiConfigHtmlValue.guideline4}}</li>
                <li>{{uiConfigHtmlValue.guideline5}}</li>
                <li>{{uiConfigHtmlValue.guideline6}}</li>
                <li>{{uiConfigHtmlValue.guidelines7}}</li>
            </ul>
        </div>
        <div class="forForm">
            <form [formGroup]="passwordForm">
                <div class="row">
                    <div class="col-md-10 spacesBtnRow">
                        <label for="password">{{uiConfigHtmlValue.curntPswd}}</label>
                        <input type="password" class="form-control password" placeholder="Current Password" formControlName="currentPwd">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 spacesBtnRow">
                        <label for="password">{{uiConfigHtmlValue.nwPswd}}</label>
                        <input type="password" class="form-control password" placeholder="New Password" formControlName="newPwd">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 spacesBtnRow">
                        <label for="password">{{uiConfigHtmlValue.reEntPswd}}</label>
                        <input type="password" class="form-control password" placeholder="Re-Enter New Password" formControlName="reEntPwd">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="btns">
        <button type="button" class="btn btn-light cancelForm" (click)="cancelPassword()">{{uiConfigHtmlValue.cancelBtn}}</button>
        <button class="btn btn-secondary btn-sm saveForm" (click)="submitPassword()" [class.whiteColor]="!passwordForm.valid" [class.blueColor]="passwordForm.valid" [disabled]="!passwordForm.valid">{{uiConfigHtmlValue.submitBtn}}</button>
    </div>
</div>