<div class="enroll_mainContainer">
    <header class="enroll_header">
        <h2 class="enroll_SubHeader">Complete Security Questions</h2>
    </header>
    <div class="enroll_Content">

        <div class="forForm">
            <p class="passWordHintHead">Answers must be longer than two characters and must not contain special characters
            </p>
            <div class="displayFormsFlex">
                <form>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="">Question 1</label>
                            <select class="form-control">
                                <option value="Select a security question">Select a security question</option>
                                <option value="Question 1">Question 1</option>
                                <option value="Question 2">Question 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="">Answer</label>
                            <input type="text" class="form-control" placeholder="Answer">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="">Question 2</label>
                            <select class="form-control">
                                <option value="Select a security question">Select a security question</option>
                                <option value="Question 1">Question 1</option>
                                <option value="Question 2">Question 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="">Answer</label>
                            <input type="text" class="form-control" placeholder="Answer">
                        </div>
                    </div>
                </form>
                <form>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="">Question 3</label>
                            <select class="form-control">
                                <option value="Select a security question">Select a security question</option>
                                <option value="Question 1">Question 1</option>
                                <option value="Question 2">Question 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="">Answer</label>
                            <input type="text" class="form-control" placeholder="Answer">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="">Question 4</label>
                            <select class="form-control">
                                <option value="Select a security question">Select a security question</option>
                                <option value="Question 1">Question 1</option>
                                <option value="Question 2">Question 2</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-10">
                            <label for="">Answer</label>
                            <input type="text" class="form-control" placeholder="Answer">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="forBtns col-md-10">
            <div class="forBtns">
                <button class="btn btn-outline-primary removeBorder">CANCEL</button>
                <button type="button" class="btn btn-outline-primary addnavyBlueBackGround" (click)="submitAndFinish()">FINISH</button>
            </div>
        </div>
    </div>
</div>