<div class="mainDiv">
    <header>
        <div class="mainHeadDiv">
            <div class="divForLogo">
                <img class="logo" src="../../assets/logoForLoginScreens.png" alt="">
            </div>
            <div class="divForMainNav">
                <div class="divForChilMainNav">
                    <div class="navListsDisplayRow">
                        <div class="mainNavLists" [ngClass]="{anchorActive:userClicked=== navItem.mainMenuTitle} " *ngFor="let navItem of navItems">
                            <a class="anchor" [ngClass]="{anchoractive:userClicked=== navItem.mainMenuTitle}" (click)=" onClickMainMenuOpt(navItem);userClicked=navItem.mainMenuTitle "><b>{{navItem.mainMenuTitle}}</b></a>
                        </div>
                    </div>
                </div>
                <div class="divForUserProfileAndName ">
                    <div class="forAvatar">
                        <img src="../../assets/img_avatar.png" alt="" class="avatarImg">
                    </div>
                    <div class="forName">
                        <b class="name">{{resourceConstants.navUserName}}</b>
                    </div>
                </div>
            </div>
        </div>
        <div class="divForSubNav ">
            <ul class="subMenuUl ">
                <li class="subMenuLi " *ngFor="let subNavItem of subNavItems "><b (click)="onSelectSubNavItem(subNavItem)">{{subNavItem}}</b></li>
            </ul>
        </div>
    </header>
    <div class="contentDiv">
        <router-outlet></router-outlet>
    </div>
</div>