<div class="enroll_mainContainer">
    <header class="enroll_header">
        <h2 class="enroll_SubHeader">Agree to Cardholder Agreement & Privacy Policy</h2>
    </header>
    <div class="enroll_Content">
        <div class="forForm">
            <form>
                <div class="row">
                    <div class="forCheckBox ">
                        <input type="checkbox" name="" id="">
                        <p class="agreeText">I agree to the Cardholder Agreement, Privacy Policy and to receive information about my card Electronically.</p>
                    </div>
                    <div class="row forBtns ">
                        <div class="forBtns">
                            <button class="btn btn-outline-primary removeBorder">CANCEL</button>
                            <button type="button" class="btn btn-outline-primary addnavyBlueBackGround" (click)="agreeAndLogin()">NEXT</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>