<div class="MainDiv">
    <div class="card">
        <div class="divForLogo">
            <img src="../../../assets/logoForLoginScreens.png" alt="" class="logo">
        </div>
        <div class="divForContent">
            <b class="content">{{resourceConstants.primaryContent}}<br> {{resourceConstants.secondaryContent}}</b>
        </div>
        <div class="divForForm">
            <form>
                <div class="form-group">
                    <label for="userName"><b class="labelForUserEmail">{{resourceConstants.email}}</b></label>
                    <input type="userName" class="form-control" placeholder="Enter Email Address here">
                </div>
                <div class="divForBtns">
                    <button class="btn btn-outline-primary removeBorder">{{resourceConstants.getUsernameBtn}}</button>
                    <button class="btn btn-outline-primary removeBorder" (click)="onClickCancel()">{{resourceConstants.cancelBtn}}</button>
                </div>
            </form>
        </div>
    </div>
</div>