/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.mat-dialog-container {
    padding: 0 !important;
}

.removeBorder {
    border: none !important;
}

.removeBorder:hover {
    background-color: #0070c0;
}